body {
  background-color: #7a7a7a;
}

.container {
  -webkit-box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.61);
  width: 280px;
  background-color: #191919;
  border-radius: 25px;
  margin: 0 auto;
}

.calculatorBody {
  height: 350px;
  width: 280px;
  padding-top: 25px;
  background-color: #191919;
  border-radius: 25px;
  border: 1px solid #000;
  margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 0px 20px 15px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: inset 0px 0px 20px 15px rgba(0, 0, 0, 0.61);
  box-shadow: inset 0px 0px 20px 15px rgba(0, 0, 0, 0.61);
  background-image: url(image/brown_leather_256.jpg);
}

.calculator {
  height: 200px;
  width: 220px;
  margin: 0 auto;
}

.screen {
  height: 40px;
  width: 190px;
  padding: 10px;
  border-style: solid;
  background-color: #A4AF6D;
  color: #000;
  margin-bottom: 25px;
  font-size: 30px;
  -webkit-box-shadow: inset 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  overflow: auto;
}

.key {
  height: 20px;
  width: 15px;
  padding: 15px;
  background-color: #6A584E;
  float: left;
  border-style: solid;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #000;
  margin: 3px;
  -webkit-box-shadow: 1px 0px 40px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 0px 40px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 0px 40px 10px rgba(0, 0, 0, 0.6);
}

.keyOrange {
  background-color: #F7811F;
}

.keyDouble {
  width: 75px!important;
  height: 20px!important;
}

.key:hover {
  background-color: #aaaaaa;
}
