body {
  background-color: #7a7a7a;
}

.container {
  height: 350px;
  width: 280px;
  padding-top: 25px;
  background-color: #191919;
  border-radius: 25px;
  border: 1px solid #fff;
  margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  -webkit-box-shadow: 0px 1px 97px 10px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 1px 97px 10px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 1px 97px 10px rgba(0, 0, 0, 0.61);
}

.calculator {
  height: 200px;
  width: 220px;
  margin: 0 auto;
}

.screen {
  height: 40px;
  width: 215px;
  border-style: solid;
  background-color: #A4AF6D;
  color: #000;
  margin-bottom: 25px;
  font-size: 30px;
  -webkit-box-shadow: inset 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
}

.key {
  height: 20px;
  width: 15px;
  padding: 15px;
  background-color: #6A584E;
  float: left;
  border-style: solid;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #fff;
  margin: 3px;
  -webkit-box-shadow: 0px 1px 25px 10px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 1px 25px 10px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 1px 25px 10px rgba(0, 0, 0, 0.61);
}



.keyOrange{
  background-color: #F7811F;
}


.keyDouble {
  width: 75px!important;
  height: 20px!important;
}

.key:hover {
  background-color: #aaaaaa;
}
